@import "./fonts/typography.css";

body {
    /* background-image: url('images/partyparrot.gif'); */
    color: hsla(0, 0%, 0%, 0.8);
    font-family: "Avenir Next", "Helvetica", georgia, serif;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
}

h1, h2, h3, h4, h5, h6, b {
    font-family: "Avenir Next Bold", "Helvetica", georgia, serif;
}
